.cartTileContainer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid black;
}

.removeCartButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}