.container {
    display: flex;
    flex-direction: column;
}

.topSec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    height: 150px;
}

.topText {
    font-size: 40px;
}