.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.topSec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    height: 250px;
}

.topText {
    font-size: 40px;
}

.tile {
    display: flex;
    justify-content: space-between;
}